/output
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~
tools/pack/sun4i_pack_ddr3_lin/eFex/card/card_boot0.fex
tools/pack/sun4i_pack_ddr3_lin/eFex/card/card_boot1.fex
tools/pack/sun4i_pack_ddr3_lin/eFex/card/mbr.fex
tools/pack/sun4i_pack_ddr3_lin/eFex/sys_config.bin
tools/pack/sun4i_pack_ddr3_lin/eFex/sys_config1.bin
tools/pack/sun4i_pack_ddr3_lin/eGon/boot0.bin
tools/pack/sun4i_pack_ddr3_lin/eGon/boot1.bin
tools/pack/sun4i_pack_ddr3_lin/wboot/bootfs.fex
tools/pack/sun4i_pack_ddr3_lin/wboot/bootfs/linux/bImage
tools/pack/sun4i_pack_ddr3_lin/wboot/ePDKv100.img
tools/pack/sun4i_pack_ddr3_lin/wboot/image.txt
tools/pack/sun4i_pack_ddr3_lin/wboot/rootfs.fex
tools/pack/sun4i_pack_ddr3_win/eFex/card/card_boot0.fex
tools/pack/sun4i_pack_ddr3_win/eFex/card/card_boot1.fex
tools/pack/sun4i_pack_ddr3_win/eFex/card/dlinfo.fex
tools/pack/sun4i_pack_ddr3_win/eFex/card/mbr.fex
tools/pack/sun4i_pack_ddr3_win/eFex/sys_config.bin
tools/pack/sun4i_pack_ddr3_win/eFex/sys_config1.bin
tools/pack/sun4i_pack_ddr3_win/eGon/Boot0.bin
tools/pack/sun4i_pack_ddr3_win/eGon/Boot1.bin
tools/pack/sun4i_pack_ddr3_win/wboot/bootfs.txt
tools/pack/sun4i_pack_ddr3_win/wboot/bootfs/linux/bImage
tools/pack/sun4i_pack_ddr3_win/wboot/ePDKv100.img
tools/pack/sun4i_pack_ddr3_win/wboot/image.txt
tools/pack/sun4i_pack_ddr3_win/wboot/rootfs.fex
tools/pack/sun4i_pack_ddr3_win_uboot/eGon/Boot0.bin
tools/pack/sun4i_pack_ddr3_win_uboot/eGon/Boot1.bin
tools/pack/sun4i_pack_ddr3_win_uboot/wboot/bootfs/linux/u-boot.bin
tools/pack/sun4i_pack_ddr3_win_uboot/wboot/ePDKv100.img
tools/livesuit/tools.scj
external-packages/example/example
